<app-header></app-header>
<div class="d-flex justify-center align-items-center px-5">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col">Prix</th>
        <th scope="col">Categorie</th>
        <th scope="col">Email Propriétaire</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Chocolat</td>
        <td>2500 CFA</td>
        <td>Sucrerie</td>
        <td>omar01@gmail.com</td>
        <td class="d-flex gap-2">
          <i class="bi bi-pencil-square" style="cursor: pointer"></i>
          <i class="bi bi-trash" style="cursor: pointer"></i>
        </td>
      </tr>
    </tbody>
  </table>

</div>
